@page "/clientes"

@using Pruebaaas.Shared.Models
@inject HttpClient Http
@using Microsoft.JSInterop

<h1>Clientes</h1>

<div class="container mt-5">
    <h2>Lista de Clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>RFC</th>
                <th>Nombre</th>
                <th>Domicilio</th>
                <th>Teléfono</th>
                <th>Tiene Crédito</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.RFC</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Domicilio</td>
                    <td>@cliente.Telefono</td>
                    <td>@(cliente.TieneCredito ? "Sí" : "No")</td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="MostrarModal">Agregar Cliente</button>
</div>

<div class="modal fade" id="agregarClienteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="rfc">RFC:</label>
                        <input type="text" class="form-control" id="rfc" bind="@nuevoCliente.RFC" />
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" bind="@nuevoCliente.Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="domicilio">Domicilio:</label>
                        <input type="text" class="form-control" id="domicilio" bind="@nuevoCliente.Domicilio" />
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" id="telefono" bind="@nuevoCliente.Telefono" />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="tieneCredito" bind="@nuevoCliente.TieneCredito" />
                        <label class="form-check-label" for="tieneCredito">Tiene Crédito</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" @onclick="AgregarCliente">Guardar</button>
            </div>
        </div>
    </div>
</div>

@code {
    List<ClienteDto> clientes = new List<ClienteDto>();
    ClienteAgregarDto nuevoCliente = new ClienteAgregarDto();

    protected override async Task OnInitializedAsync()
    {
        await CargarClientes();
    }

    private async Task CargarClientes()
    {
        clientes = await Http.GetFromJsonAsync<List<ClienteDto>>("api/clientes");
    }

    private void MostrarModal()
    {
        nuevoCliente = new ClienteAgregarDto();
        JsRuntime.InvokeVoidAsync("AbrirModal", "agregarClienteModal");
    }


    private async Task AgregarCliente()
    {
        var response = await Http.PostAsJsonAsync("api/clientes", nuevoCliente);

        if (response.IsSuccessStatusCode)
        {
            JsRuntime.InvokeVoidAsync("CerrarModal", "agregarClienteModal");
            await CargarClientes();
        }
        else
            Console.WriteLine("Error al agregar el cliente");
    }
}
