@page "/productos"
@inject HttpClient Http

<h1>Productos</h1>

<div class="container mt-5">
    <h2>Lista de Productos</h2>
    <table class="table">
        <thead class="titulos-tabla">
            <tr>
                <th>Nombre</th>
                <th>Unidades en Stock</th>
                <th>Clave de Producto</th>
                <th>Clasificación</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            @if (productos != null && productos.Any())
            {
                @foreach (var producto in productos)
                {
                    <tr>
                        <td>@producto.Nombre</td>
                        <td>@producto.UnidadesEnStock</td>
                        <td>@producto.ClaveProducto</td>
                        <td>@producto.Clasificacion</td>
                        <td>
                            @foreach (var proveedor in producto.Proveedores)
                            {
                                <span class="badge rounded-pill" style="background-color:aquamarine; color: black">
                                    @proveedor.Nombre
                                </span>


                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No hay productos.</td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Agregar Producto</h2>
    <form>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" @bind="nuevoProducto.Nombre" />
        </div>
        <div class="form-group">
            <label for="unidadesEnStock">Unidades en Stock:</label>
            <input type="number" class="form-control" id="unidadesEnStock" @bind="nuevoProducto.UnidadesEnStock" />
        </div>
        <div class="form-group">
            <label for="claveProducto">Clave de Producto:</label>
            <input type="text" class="form-control" id="claveProducto" @bind="nuevoProducto.ClaveProducto" />
        </div>

        <div class="form-group">
            <label for="clasificacionId">Clasificación:</label>
            <InputSelect @bind-Value="nuevoProducto.ClasificacionId" class="form-control">
                <option value="">[Seleccione Clasificación]</option>
                @foreach (var clasificacion in clasificaciones)
                {
                    <option value="@clasificacion.Id">@clasificacion.Descripcion</option>

                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="proveedorIds">Proveedor:</label>
            <InputSelect @bind-Value="proveedorSeleccionadoId" class="form-control" multiple>
                <option value="">[Seleccione Proveedor]</option>
                @foreach (var proveedor in proveedores)
                {
                    <option value="@proveedor.Id">@proveedor.Nombre</option>
                }
            </InputSelect>
        </div>

        <table class="table">
            <thead class="table-productos-espacio">
                <tr>
                    <th>Clave de Proveedor</th>
                    <th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
                @if (nuevoProducto.Proveedores != null)
                {
                    @foreach (var proveedor in nuevoProducto.Proveedores)
                    {
                        <tr>
                            <td>@proveedor.ClaveProveedor</td>
                            <td>@proveedor.Nombre</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No hay proveedores.</td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" id="boton-agregar" class="btn btn-primary" @onclick="AgregarProveedor">Agregar Proveedor</button>

        <button type="button" id="boton-guardar" class="btn btn-primary" @onclick="AgregarProducto">
            <i class="bi bi-save"></i>
            Guardar
        </button>

    </form>
</div>

@code {
    List<ProductoDto> productos = new List<ProductoDto>();
    ProductoAgregarDto nuevoProducto = new ProductoAgregarDto();
    List<ProveedorDto> proveedores = new List<ProveedorDto>();
    int proveedorSeleccionadoId = 0;
    List<ProductoClasificacionDto> clasificaciones = new List<ProductoClasificacionDto>();

    protected override async Task OnInitializedAsync()
    {
        await CargarProductosClasificaciones();
        await CargarProveedores();
        await CargarProductos();
    }

    private async Task AgregarProveedor()
    {
        if (proveedorSeleccionadoId != 0)
        {
            ProveedorDto? proveedorEncontrado = await BuscarProveedor(proveedorSeleccionadoId);
            if (proveedorEncontrado != null)
            {
                nuevoProducto.Proveedores.Add(proveedorEncontrado);
            }
        }

    }

    private async Task CargarProveedores()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<ProveedorDto>>("api/Proveedores");
            if (response != null)
            {
                proveedores = response;
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar proveedores: {ex.Message}");
        }
    }
    private async Task<ProveedorDto?> BuscarProveedor(int id)
    {
        try
        {
            var response = await Http.GetFromJsonAsync<ProveedorDto>($"api/Proveedores/{id}");
            if (response == null)
            {
                return null;
            }
            return response;
        }
        catch (Exception)
        {
            throw;
        }
    }


    private async Task CargarProductosClasificaciones()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<ProductoClasificacionDto>>("api/ProductoClasificacion");
            if (response != null)
            {
                clasificaciones = response;
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar clasificaciones: {ex.Message}");
        }
    }

    private async Task CargarProductos()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<ProductoDto>>("api/producto");
            if (response == null)
            {
                throw new Exception("No encontrado");
            }
            productos = response;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar productos: {ex.Message}");
        }
    }

    private async Task AgregarProducto()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("/api/producto", nuevoProducto);

            if (response.IsSuccessStatusCode)
            {
                await CargarProductos();
                nuevoProducto = new ProductoAgregarDto();
            }
            else
            {
                Console.WriteLine("Error al agregar el producto");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al agregar el producto: {ex.Message}");
        }
    }
}
